
header {
  margin-top: 5%;
  width: 100%;
  /* height: 20%; */
  text-align: center;
  /* line-height: 100%; */
}
main {
  margin:7% auto 5% auto;
  font-family: 'Coda Caption', sans-serif;
  width: 300px;
  height: 300px;
  background-color: lightskyblue;
  position: relative;
}
section {
  width: 90%;
  height:90%;
  width: 100%;
  height: calc(100%/3);
  border: solid 1px blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tic-box{
  margin: 3%;
  border: 1px solid red;
  width: calc(100%/3);
  height: 83.12%;
  line-height: 88.5%;
  background-color: grey;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  /* font-family: 'Baloo Bhai', cursive; */
  /* font-family: 'Comfortaa', cursive; */
}


.player1 {
  background-color: greenyellow;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.player2 {
  background-color: rgb(40, 18, 236);;
  font-size: 20px;
  font-weight: bold;
}
.control-pannel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.restart {
  display: block;
  background-color: khaki;
  text-align: center;
  margin:2% auto 5% auto;
  width: 100px;
}

.players {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin:2% auto 5% auto;
}
.winner {
  margin-right: 4px;
}



























.strike {
  width: 100%;
  height: 10px;
  background-color: transparent;
  position: absolute;
  border-radius: 10px;
}

.strike-0 {
  width: 100%;
  height: 10px;
  background-color: red;
  position: absolute;
  top: 15.6%;
  border-radius: 10px;
}

.strike-1 {
  width: 120%;
  height: 10px;
  background-color: red;
  position: absolute;
  top: 49%;
  left: -10%;
  transform: rotate(45deg);
  border-radius: 10px;   
}

.strike-2 {
  width: 10px;
  height: 100%;
  background-color: red;
  position: absolute;
  top: 0%;
  left: 15.6%;
  border-radius: 10px;
}

.strike-3 {
  width: 10px;
  height: 100%;
  background-color: red;
  position: absolute;
  top: 0%;
  left: 48.5%;
  border-radius: 10px;
}

.strike-4 {
  width: 10px;
  height: 100%;
  background-color: red;
  position: absolute;
  top: 0%;
  left: 81.4%;
  border-radius: 10px;
}

.strike-5 {
  width: 100%;
  height: 10px;
  background-color: red;
  position: absolute;
  top: 49%;
  border-radius: 10px;
}

.strike-6 {
  width: 100%;
  height: 10px;
  background-color: red;
  position: absolute;
  top: 81.4%;
  border-radius: 10px;
}

.strike-7 {
  width: 120%;
  height: 10px;
  background-color: red;
  position: absolute;
  top: 49%;
  left: -10%;
  transform: rotate(-45deg);
  border-radius: 10px;
}












