body{
  /* background-image: url('Snowing6.gif');
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue; */
}

header {
  margin-top: 5%;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  /* font-family: 'Barlow', sans-serif; */
  /* font-family: 'Righteous', cursive; */
  /* font-family: 'Courgette', cursive; */
  /* font-family: 'Concert One', cursive; */
}

main {
  margin:7% auto 2% auto;
  font-family: 'Coda Caption', sans-serif;
  width: 300px;
  height: 300px;
  background-color: transparent;
  position: relative;
}

section {
  width: 90%;
  height:90%;
  width: 100%;
  height: calc(100%/3);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tic-box{
  margin: 3%;
  border: 1px solid red;
  width: calc(100%/3);
  height: 83.12%;
  line-height: 88.5%;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  /* font-family: 'Baloo Bhai', cursive; */
  /* font-family: 'Comfortaa', cursive; */
  cursor: pointer;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: rgb(196, 196, 196);
  border: none;
  border-radius: 15px;
  box-shadow: 3px 7px rgb(109, 109, 109);
}

.tic-box:active {
  background-color: rgb(158, 157, 157);
  box-shadow: 0 2px rgb(44, 44, 44);
  transform: translateY(4px);
}

footer{
  margin-top:10px;
  font-weight: bold;
  text-align: center;
  font-family: 'Lato', sans-serif;
  /* font-family: 'PT Sans Caption', sans-serif; */
  /* font-family: 'Concert One', cursive; */
}
.players {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height:50px;
  margin:2% auto 5% auto;
}
.player1 {
  background-color: rgb(207, 238, 161);
  border-radius: 15px;
  font-size: 15px;
  width: 100px;
  padding: 3% 1%;
  transition: width 2s;
}
.player1.active {
  /* margin-top: -12px; */
  width: 150px;
  line-height: 40px;
}

.player2 {
  background-color: beige;
  border-radius: 15px;
  font-size: 15px;
  width: 100px;
  padding: 3% 1%;
  transition: width 2s;
}
.player2.active {
  /* margin-top: -12px; */
  width: 150px;
  line-height: 40px;
}
.control-pannel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

.winner {
  margin-right: 4px;
}

.restart {
  display: block;
  background-color: khaki;
  margin:2% auto 5% auto;
  width: 200px;
  padding: 3% 2%;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  box-shadow: 3px 7px #999;
}

.restart:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}






























.strike {
  width: 10px;
  height: 0%;
  background-color: transparent;
  position: absolute;
  border-radius: 10px;
  transition-delay: 5s;
  transition: height 2s;
}

.strikeW {
  width: 10px;
  height: 0%;
  background-color: transparent;
  position: absolute;
  border-radius: 10px;
  transition-delay: 5s;
  transition: width 2s;
}

.strikeW-0 {
  width: 120%;
  height: 10px;
  background-color: red;
  position: absolute;
  top: 14.6%;
  left: -10%;
  border-radius: 10px;
}

.strike-1 {
  width: 150%;
  height: 10px;
  background-color: red;
  position: absolute;
  top: 49%;
  left: -25%;
  transform: rotate(45deg);
  border-radius: 10px;
}

.strike-2 {
  width: 10px;
  height: 120%;
  background-color: red;
  position: absolute;
  top: -10%;
  left: 15.6%;
  border-radius: 10px;
}

.strike-3 {
  width: 10px;
  height: 120%;
  background-color: red;
  position: absolute;
  top: -10%;
  left: 48%;
  border-radius: 10px;
}

.strike-4 {
  width: 10px;
  height: 120%;
  background-color: red;
  position: absolute;
  top: -10%;
  left: 81.4%;
  border-radius: 10px;
}

.strikeW-5 {
  width: 120%;
  height: 10px;
  background-color: red;
  position: absolute;
  top: 48%;
  left: -10%;
  border-radius: 10px;
}

.strikeW-6 {
  width: 120%;
  height: 10px;
  background-color: red;
  position: absolute;
  top: 81.4%;
  left: -10%;
  border-radius: 10px;
}

.strike-7 {
  width: 150%;
  height: 10px;
  background-color: red;
  position: absolute;
  top: 49%;
  left: -26%;
  transform: rotate(-45deg);
  border-radius: 10px;
}












